@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.shadow-custom{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.26);
}
